

<h2>List of Animals</h2>
<div id="animals">
</div>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Animal Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @animals.each do |animal| %>
    <%# Enable this line below to make individual user see only their own project(s). %>
   <% if animal.user == current_user %>
      <tr>
        <td><%= render project %></td>
        <td><%= link_to "Show this animal", animal %></td>
      </tr>
      <% end %>
      <%# Enable this line below to make individual user see only their own project(s). %>
    <% end %> 
  </tbody>
</table>
<%= link_to "New Animal", new_animal_path, class:"btn btn-primary" %>



